body 
{
	font-family:Arial, Helvetica, Sans-Serif;
}
div 
{
    font-family: Arial, Helvetica, Sans-Serif;
    text-align:left;
	top: 0px;
	left: 1px;
}
span
{ 
    font-family: Arial, Helvetica, Sans-Serif;
}
.btnsubmit
{
    cursor:pointer;
    border-style:outset;
    font-size: 16px;
    font-weight: bold;
    background-color: #BB282E;
    border-right: #BB282E 4px outset;
    border-top: #BB282E 4px outset;
    border-left: #BB282E 4px outset;
    color: white;
    border-bottom: #BB282E 4px outset;
    font-family: Arial, Helvetica, Sans-Serif;
}
.btnmenu
{
    cursor:pointer;
    font-size: 16px;
    font-weight: bold;
    background-color:#A0A789;
    border-right: #A0A789 4px outset;
    border-top: #A0A789 4px outset;
    border-left: #A0A789 4px outset;
    color:White;
    border-bottom: #A0A789 4px outset;
    font-family: Arial, Helvetica, Sans-Serif;
}
.gridData
{
    font-family: Arial, Helvetica, Sans-Serif;
    text-align:left; font-size:10pt; text-indent:3pt;
}
.gridDataC
{
    font-family: Arial, Helvetica, Sans-Serif;
    text-align:center; font-size:10pt;
}
.gridDataL
{
    font-family: Arial, Helvetica, Sans-Serif;
    text-align:left; font-size:10pt; text-indent:10pt;
}
.lblsize10
{
    font-weight: bold;
    color: #666666;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: left;
    font-size:10px;
}
.lblsize12
{
    font-weight: bold;
    color:#666666;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: left;
    font-size:12px;
}
.lblsize12a
{
    font-weight: bold;
    color:Black;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: left;
    font-size:12px;
}
.lblsize14
{
    font-weight: bold;
    color:#666666;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: left;
    font-size:14px;
}
.td12
{font-weight: bold;
    color: #666666;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: left;
    font-size:12px;
    text-indent:2pt;
}
.td12R
{font-weight: bold;
    color: #666666;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: right;
    font-size:12px;
    text-indent:2pt;
}
.td12Rb
{font-weight: bold;
    color: Black;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: right;
    font-size:12px;
    text-indent:2pt;
}
.td12cb
{
	font-weight: bold;
    color: Black;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: center;
    font-size:12px;
    text-indent:2pt;
	
}
.td14
{font-weight: bold;
    color: #666666;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: left;
    font-size:14px;
    text-indent:2pt;
}
.td14Bold
{
	font-weight:900;
    color: Black;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: left;
    font-size:14px;
    text-indent:2pt;
}
.td12a
{font-weight: bold;
    color: Black;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: left;
    font-size:12px;
    text-indent:2pt;
}
.td12c
{font-weight: bold;
    color: Black;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: center;
    font-size:12px;
    text-indent:2pt;
}
.td14a
{font-weight: bold;
    color: Black;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: left;
    font-size:14px;
    text-indent:2pt;
}
.td18Bold
{
	font-weight:900;
    color: Black;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: left;
    font-size:18px;
    text-indent:5pt;
}
.gridcellleft
{
    margin-left: 5px;
    text-indent: 5px;
    text-align: left;
}
.gridcellright
{
    text-align: right;
    padding-right: 5px;
}
.gridcellcenter
{
    text-align:center;
    padding-right: 5px;
}
.tablemain
{
    padding-left: 5px;
    width: 760px; 
    text-align:center;
}
.tdmain
{
    text-indent: 5pt;
    text-align: left;
    font-size:10pt;
    font-weight:bold;
    font-family:Arial;
    color:#666666;
    height:26px;
}
.tdmainRed
{
    text-indent: 5pt;
    text-align: left;
    font-size:12pt;
    font-weight:bold;
    font-family:Arial;
    color:#BB282E;
    height:26px;
}
.tdmainR
{
    text-indent: 5pt;
    text-align: right;
    font-size:10pt;
    padding-right:10px;
    font-weight:bold;
    height:26px;
    color:#666666;
}
.btnsmall
{
    cursor:pointer;
    font-size: 12px;
    font-weight: bold;
    background-color: #A0A789;
    border-right: #A0A789 2px outset;
    border-top: #A0A789 2px outset;
    border-left: #A0A789 2px outset;
    color: white;
    border-bottom: #A0A789 2px outset;
    font-family: Arial, Helvetica, Sans-Serif;
}
.tdtitle
{
    text-align:center;
    font-size:12pt;
    font-weight:bold;
    height:25px;
    color:#666666;
}
.tdtitlesmall
{
    text-align:center;
    font-size:10pt;
    font-weight:bold;
    height:25px;
    color:#666666;
}
.tdheader
{
    text-align:center;
    font-size:18pt;
    font-weight:bold;
    height:25px;
    color:#666666;
}
.lblmoney
{
    font-weight: bold;
    color: #666666;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align:right;
    font-size:14px;
}
.lblmoneya
{
    font-weight: bold;
    color: Black;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align:right;
    font-size:14px;
}
.tdheadersmall
{
    text-align:center;
    font-size:14pt;
    font-weight:bold;
    height:25px;
    color:#666666;
}
.td14R
{font-weight: bold;
    color: #666666;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: right;
    font-size:14px;
}
.tblBorder
{
    border-right: #666666 thin solid;
    border-top: #666666 thin solid;
    border-left: #666666 thin solid;
    border-bottom: #666666 thin solid;
}
.tblRed
{
	border-right: #c43b40 thin solid;
    border-top: #c43b40 thin solid;
    border-left: #c43b40 thin solid;
    border-bottom: #c43b40 thin solid;
}
.txtmoney
{
    font-weight: bold;
    color: #666666;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align:right;
    font-size:14px;
}
.panelMain
{
	width:980px;
	border-color:Black;
	border-width:1px;
	border-style:solid;
}
.RadScheduler .rsMonthView .rsWrap,
    .RadScheduler .rsMonthView .rsApt,
    .RadScheduler .rsMonthView .rsAptOut,
    .RadScheduler .rsMonthView .rsAptIn,
    .RadScheduler .rsMonthView .rsAptMid,
    .RadScheduler .rsMonthView .rsAptContent
    {
            position: static !important;
            height: auto !important;
    }
    .RadScheduler .rsMonthView .rsWrap
    {
            overflow: hidden;
            font-size: 0;
            line-height: 0;
    }
    .RadScheduler .rsMonthView .rsLastWrap
    {
            height: 16px !important;
    }
    .RadScheduler .rsMonthView .rsAptContent
    {
            position: relative !important;
            border-top: 0;
            border-bottom: 0;
            left: 0;
            top: 0;
    }
    * html .RadScheduler .rsMonthView .rsAptIn
    {
            border-width: 0 1px;
            top: 0;
        margin-left: -1px;
        margin-right: -1px;
    }
    * html .RadScheduler .rsMonthView .rsAptMid
    {
            top: 0;
            left: 1px;
            margin: 0 1px;
            border-width: 1px 0;
    }
